<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilo3.css" type="text/css">
    <title>Gamenews</title>
</head>
<body>
    <header>
        <p>GAMENEWS</p>
    </header>
    <nav>
        <ol>
            <li><a href="index">Inicio</a></li>
            <li><a href="playstation">Playstation</a></li>
            <li><a href="xbox">Xbox</a></li>
            <li><a href="switch">Nintendo switch</a></li>
            <li><a href="pc">Pc</a></li>
            <li><a href="movil">Moviles</a></li>
        </ol>
    </nav>
    <article>
        <section class="noticia">
            <h1>Fallout 76 está gratis en Steam hasta el 26 de octubre</h1>
            <p>Bethesda anunció que Fallout 76 se podrá jugar de forma gratuita hasta el 26 de octubre en la plataforma de Steam y desde el launcher de Bethesda. A partir de hoy y hasta el 26 de octubre, los jugadores de PC pueden descargar y jugar el título postapocalíptico.

Dado que esta es una oferta gratuita limitada, no podremos jugar Fallout 76 una vez que finalice este período de prueba. La buena noticia es que nuestro progreso se trasladará al juego completo si es que decidimos comprarlo llegada la fecha de finalización. Además, cualquier compra que realicemos en la “Atomic Shop” durante la semana, también se transferirá al juego. Fallout 76 es una precuela de todos los demás Fallout. La historia principal del juego es 185 años antes de “Fallout 4”, con “La Gran Guerra” tomando lugar 25 años antes, por lo que el juego se desarrolla en 2102. Fallout 76 es también el primer juego multijugador de Bethesda, donde tendremos que explorar un mundo que ha sido desbastado por una guerra nuclear.

Bethesda también anunció que habrá tres eventos en el juego del 22 al 26 de octubre. Estos eventos son de doble puntuación y doble experiencia, así como un 25% de descuento en armas y armaduras legendarias en The Rusty Pick.</p>
        </section>

        

    </article>

    <aside>
       <img src="/img/gameover.jpg">
    </aside>

    <footer>
      
    </footer>
     
     
    
</body>
</html>