<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilo.css" type="text/css">
    <title>Gamenews</title>
</head>
<body>
    <header>
        <p>GAMENEWS</p>
    </header>
    <nav>
        <ol>
            <li><a href="index">Inicio</a></li>
            <li><a href="playstation">Playstation</a></li>
            <li><a href="xbox">Xbox</a></li>
            <li><a href="switch">Nintendo switch</a></li>
            <li><a href="pc">Pc</a></li>
            <li><a href="movil">Moviles</a></li>
        </ol>
    </nav>
    <article>
        <a href="spiderman"><section class="spiderman">
            <p>Spider-Man: Miles Morales explica su optimización en PS5 con cinco claves</p>
            
        </section></a>

        <a href="seriesS"><section class="xbox">
            <p>Xbox Series S: se filtra una foto de la caja en unos grandes almacenes</p>
        </section></a>

        <a href="nintendo"><section class="switch">
            <p>El precio de Nintendo Switch cae a sólo 290 euros: ahora es seguramente el mejor momento para comprarla</p>
        </section></a>

        <a href="fallout"><section class="pc">
            <p>Fallout 76 está gratis en Steam hasta el 26 de octubre</p>
        </section></a>

        <a href="lenovo"><section class="movil">
            <p>Lenovo lanza en España su primer móvil gaming, el Legion Phone Duel</p>
        </section></a>

    </article>

    <aside>
       <img src="/img/gameover.jpg">
    </aside>

    <footer>
      
    </footer>
     
     
    
</body>
</html>