<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilo3.css" type="text/css">
    <title>Gamenews</title>
</head>
<body>
    <header>
        <p>GAMENEWS</p>
    </header>
    <nav>
        <ol>
            <li><a href="index">Inicio</a></li>
            <li><a href="playstation">Playstation</a></li>
            <li><a href="xbox">Xbox</a></li>
            <li><a href="switch">Nintendo switch</a></li>
            <li><a href="pc">Pc</a></li>
            <li><a href="movil">Moviles</a></li>
        </ol>
    </nav>
    <article>
        <section class="noticia">
            <h1>Lenovo lanza en España su primer móvil gaming, el Legion Phone Duel</h1>
            <p>Lenovo ha dado el salto al mercado de móviles gaming, una gran noticia para los aficionados a los videojuegos. El fabricante de ordenadores gaming presenta en España su primer modelo, el móvil Legion Phone Duel. 

El Legion Phone Duel es un teléfono pensado para cubrir todas y cada una de las necesidades de los jugadores. Apuesta por el rendimiento más extremo, una gran pantalla y un diseño destinado a ser como una consola. Aunque lo viéramos en un escaparate con el resto de móviles del mercado no sería difícil de reconocer, este teléfono cumple con las cualidades de un buen diseño gaming: colores llamativos, luces LED y agarre para las dos manos. Por el otro lado también tenemos modificaciones interesantes. Al ser un móvil gaming la pantalla es fundamental, por eso la han querido limpiar de cualquier elemento externo desplazando las dos cámaras delanteras al borde de la cámara. El diseño en general pretende que el móvil se use la mayor parte del tiempo en posición horizontal.  </p>
            
        </section>

        

    </article>

    <aside>
       <img src="/img/gameover.jpg">
    </aside>

    <footer>
      
    </footer>
     
     
    
</body>
</html>