<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilo3.css" type="text/css">
    <title>Gamenews</title>
</head>
<body>
    <header>
        <p>GAMENEWS</p>
    </header>
    <nav>
        <ol>
            <li><a href="index">Inicio</a></li>
            <li><a href="playstation">Playstation</a></li>
            <li><a href="xbox">Xbox</a></li>
            <li><a href="switch">Nintendo switch</a></li>
            <li><a href="pc">Pc</a></li>
            <li><a href="movil">Moviles</a></li>
        </ol>
    </nav>
    <article>
        <section class="noticia">
            <h1>El precio de Nintendo Switch cae a sólo 290 euros: ahora es seguramente el mejor momento para comprarla</h1>
            <p>l objetivo de esta consola de Nintendo es ofrecer el mayor número de horas de juego con múltiples títulos a tu disposición y en cualquier lugar. Desde el salón de tu casa o en el autobús, en pareja o en solitario, Nintendo Switch se adapta a todas estas situaciones. No es habitual encontrar la consola Nintendo Switch por menos de 300 euros y con todas las ventajas que proporciona el gigante del comercio norteamericano. Desde la web de Idealo.com hemos encontrado varias ofertas interesantes para los que llevan tiempo queriendo hacerse con ella. 

El comparador de precios destaca en los alto de su ranking, la tienda PcGaming 365 donde la Nintendo Switch se vende por 290 euros. Los gastos de envío podrían ser de unos 6 euros, lo que nos acerca más a los 300 euros, aunque si nos vamos a tiendas más conocidas como ebay o Amazon el precio sobrepasa los 310 euros. </p>

        </section>

        

    </article>

    <aside>
       <img src="/img/gameover.jpg">
    </aside>

    <footer>
      
    </footer>
     
     
    
</body>
</html>