<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilo3.css" type="text/css">
    <title>Gamenews</title>
</head>
<body>
    <header>
        <p>GAMENEWS</p>
    </header>
    <nav>
        <ol>
            <li><a href="index">Inicio</a></li>
            <li><a href="playstation">Playstation</a></li>
            <li><a href="xbox">Xbox</a></li>
            <li><a href="switch">Nintendo switch</a></li>
            <li><a href="pc">Pc</a></li>
            <li><a href="movil">Moviles</a></li>
        </ol>
    </nav>
    <article>
        <section class="noticia">
            <h1>Xbox Series S: se filtra una foto de la caja en unos grandes almacenes</h1>
            <p>
                Nada ha cambiado en la nueva generación, no al menos en lo que se refiere a la tendencia de que las novedades se filtren antes de que las comunique la compañía. Como ha ocurrido recientemente con el DualSense de PlayStation 5, la caja de Xbox Series S se acaba de filtrar en la red. La fotografía proviene de los foros de ResetEra, donde el usuario Theorry ha publicado una instantánea en la que se puede ver la parte frontal de la caja. Al fondo, otras tres consolas Series S y también una Xbox Series X.

Microsoft ha respetado los colores de ambos modelos, de modo que la caja de su versión más económica luce en blanco, mientras que la de Series X aparece en negro. Como se puede apreciar, el paquete es más delgado y muestra el nuevo mando de Xbox junto a la consola. Además, también aparecen algunas de sus características, como el disco duro de 512 GB o la posibilidad de que los juegos funcionen a 120 fps. La Xbox Velocity Architecture también será funcional esta máquina, al igual que la retrocompatibilidad. Eso sí, no habrá formato físico, así que todo deberá funcionar en digital.
            </p>
            
        </section>

        

    </article>

    <aside>
       <img src="/img/gameover.jpg">
    </aside>

    <footer>
      
    </footer>
     
     
    
</body>
</html>