<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilo3.css" type="text/css">
    <title>Gamenews</title>
</head>
<body>
    <header>
        <p>GAMENEWS</p>
    </header>
    <nav>
        <ol>
            <li><a href="index">Inicio</a></li>
            <li><a href="playstation">Playstation</a></li>
            <li><a href="xbox">Xbox</a></li>
            <li><a href="switch">Nintendo switch</a></li>
            <li><a href="pc">Pc</a></li>
            <li><a href="movil">Moviles</a></li>
        </ol>
    </nav>
    <article>
        <section class="noticia">
            <h1>Spider-Man: Miles Morales explica su optimización en PS5 con cinco claves</h1>
            <p>Gracias al equipo de PlayStation tuvimos oportunidad de ver aproximadamente 25 minutos de gameplay de Marvel’s Spider-Man: Miles Morales de PS5, título de Insomniac Games programado para el 12 de noviembre, mismo día que verá la luz la nueva consola de Sony y que también tendrá su versión para PS4.

En este video Miles inicia su aventura saliendo del Metro de la ciudad de Nueva York, teniendo una charla con su madre sobre las compras para la cena.

Desde el inicio podemos ver en tiempo real un gran avance gráfico que se ve tanto en las texturas de la ropa de Morales como en las estructuras de los edificios y hasta en los reflejos del piso húmedo por la nieve de las calles de la gran manzana. El trabajo de trazado de rayos, queda patente tanto en los cristales como en los objetos metálicos de los bordes en los automóviles. Otro elemento visual de nueva generación se aprecia tanto en las partículas flotantes de los copos de nieve, como en el vapor del aliento de los personajes al momento de hablar.</p>

        </section>

        

    </article>

    <aside>
       <img src="/img/gameover.jpg">
    </aside>

    <footer>
      
    </footer>
     
     
    
</body>
</html>